<% @years.keys.reverse.each do |year| %>
  <div class="container results">
    <div class="col-xs-10 col-xs-offset-1 col-xm-8 col-xs-offset-2">
      <div class="column">
        <h1>Résultats du budget participatif <%= year %> de la RIVP</h1>
        <center><h3>Suivez l'avancée des projets en cliquant dessus</h3></center>
        <% @years[year].keys.each do |site| %>
            <h2><%= site %></h2>
            <table>
              <tr>
                <td width="30%"><b>Projet</b></td>
                <td width="10%"><b>Coût</b></td>
                <td width="10%"><b>Statut</b></td>
                <td width="50%"><b>Actualité</b></td>
              </tr>


              <% @years[year][site].keys.each do |projet| %>
                  <% projet = @years[year][site][projet] %>
                  <tr style="background-color:
                    <% case projet[:step] %>
                      <% when "Gagné" %>
                        #39CCCC
                      <% when "En préparation" %>
                        #FF4136
                      <% when "En cours" %>
                        #FF851B
                      <% when "Réalisé" %>
                        #2ECC40
                      <% else %>
                        #85144b
                    <% end %>
                  ">
                    <td>
                      <% if (Budget::Investment.find(projet[:id]) rescue nil) != nil %>
                          <% investment =  Budget::Investment.find(projet[:id]) %>
                          <%= link_to projet[:name], budget_investment_path(Budget.find(investment.budget_id), investment) %>
                      <% else %>
                          <%= projet[:name] %>
                      <% end %>
                    </td>
                    <td class=""win"><%= projet[:cost] %></td>
                    <td>
                      <% case projet[:step] %>
                      <% when "Gagné" %>
                          <i class="fas fa-trophy" aria-hidden="true"></i>  Gagné
                      <% when "En préparation" %>
                          <i class="fas fa-battery-empty" aria-hidden="true"></i>  En préparation
                      <% when "En cours" %>
                          <i class="fas fa-battery-half" aria-hidden="true"></i>  En cours
                      <% when "Réalisé" %>
                          <i class="fas fa-battery-full" aria-hidden="true"></i>  Réalisé
                      <% when "Non réalisé"  %>
                          <i class="fas fa-times" aria-hidden="true"></i> Non réalisé
                      <% else %>
                          <%= projet[:step] %><i class="fas fa-battery-slash" aria-hidden="true">  Status inconnu
                      <% end %>
                    </td>
                    <td><%= projet[:actu] %></td>
                  </tr>

              <% end %>
            </table>
        <% end %>
<% end %>
      </div>
    </div>
  </div>


